# Python virtual environment
venv/

model/

# Python cache files
__pycache__/
*.pyc
*.wav
*.txt

bfg-1.14.0.jar

# NOT ignore requirements.txt
!requirements.txt
!requirements-dev.txt

# SSL Certificates and Keys - NEVER commit these!
key.pem
cert.pem
